@charset "UTF-8";
/* CSS Document */
body {
	font-family: "Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	background-color:#d4g2sf;
	width:100%;
}
p {
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	font-size:15pt;
	color:#78726E;
	align-content:center;
	margin-left: 675px;
	margin-top:-450px;
	padding-top:10px;
	font-weight:bold;
	line-height:30px;
	width:600px;
}
h1 {
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	font-size:18pt;
	color:#78726E;
	align-content:center;
	margin-left: 75px;
	margin-right:75px;
	padding-top:10px;
}
h2 {
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	font-size:25pt;
	color:#78726E;
	margin-left:30px;
	padding-top:20px;
	font-weight: bold;
}
h3 {
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	font-size:14pt;
	color:#78726E;
	border-bottom: 3px solid #b7a087;
	width: 200px;
}
h4 {
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	font-size:10pt;
	color:#78726E;
	align-content:center;
	margin-left: 75px;
	margin-right:75px;
	margin-top:-5px;
}
h5 {
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	font-size:10pt;
	color:#78726E;
	align-content:center;
	margin-left: 75px;
	margin-right:75px;
	margin-top:-5px;
	margin-bottom:100px;
}
h6 {
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	font-size:15pt;
	color:#78726E;
	align-content:center;
	margin-left: 75px;
	margin-right:75px;
	padding-top:10px;
	font-weight:bold;
}
a {
	color:#78726E;
	text-decoration:none;
}
a:hover {
	color:#b7a087;
}
ul#nav {
	list-style:none;
	margin-left:-20px;
	margin-top:0px;
	font-size:14pt;
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", "monospace";
	width:285px;
	height:1800px;
	background-color:#DBD6D3;
	position:fixed;
	overflow: hidden;
}
	ul#nav li {
	display:list-item;
	margin-bottom:60px;
	margin-top:60px;
	margin-left:20px;
}
	ul#nav li a{
	text-decoration:none;
	color:#78726E;
	font-weight:bold;
	border-bottom: 3px solid transparent;
}
	ul#nav li a:hover{
	color:#b7a087;
	border-bottom: 3px solid #b7a087;
}
	ul#nav li a:active {
	border-bottom: 3px solid #b7a087;
	border-bottom-length:auto;
}
div#pagewrap{
	
}
div#home { 
	margin-left:300px;
	margin-top:-27px;
	background-color:#F6F6F6;
	height:100%;
	width:100%;
	max-width:1300px;
}
table.home {
	width: 100%;
	max-width:1400px;
	text-align: left;
	margin-left:140px;
}
table.home tr {
	
}
table.home tr td {
	height:350px;

	width:100px;
	
}
div#freshman {
	margin-left:300px;
	margin-top:-27px;
	background-color:#F6F6F6;
	height:100%;
	width:100%;
	max-width:1300px;;
}
table.freshman {
	width: 100%;
	max-width:1400px;
	text-align: center;
	margin-left:5px;
}
table.freshman tr {
	
}
table.freshman tr td {
	height:350px;
	padding-top: 75px;
	width:100px;
}
table.sense {
	width: 100%;
	max-width:1400px;
	text-align: center;
	margin-left:5px;
}
table.sense tr {
	
}
table.sense tr td {
	height:350px;
	padding-top: 75px;
	width:100px;
}
table.awareness {
	width: 100%;
	max-width:1400px;
	text-align: center;
	margin-left:5px;
}
table.awareness tr {
	
}
table.awareness tr td {
	height:350px;
	padding-top: 75px;
	width:100px;
}
div#sophomore {
	margin-left:300px;
	margin-top:-27px;
	background-color:#F6F6F6;
	height:100%;
	max-height:4000px;
	width:100%;
	max-width:1300px;
}

table.sophomore {
	width: 100%;
	max-width:1400px;
	text-align: center;
	margin-left:5px;
	margin-bottom:-300px;

}
table.sophomore tr {
	
}
table.sophomore tr td {
	height:350px;
	padding-top: 75px;
	width:100px;
	margin-right:-30px;
}
video {
	margin-left:30px;
	margin-top:0px;
	height:300px;
	width:600px;
	
}
div#junior {
	margin-left:300px;
	margin-top:-27px;
	background-color:#F6F6F6;
	max-height:4000px;
	height:100%;
	width:100%;
	max-width:1300px;
}
table.junior {
	width: 100%;
	max-width:1400px;
	text-align: center;
	margin-left:5px;
	margin-bottom:-300px;

}
table.junior tr {
	
}
table.junior tr td {
	height:350px;
	padding-top: 75px;
	width:100px;
	margin-right:-30px;
}
div#contact {
	margin-left:300px;
	margin-top:-27px;
	background-color:#DBD6D3;
	max-height:1035px;
	height:100%;
	width:100%;
	max-width:1300px;
}







